body {
    margin: 0;
}

.container {
    display: grid;
    min-height: 100vh;
}

.nav {
    height: 50px;
    background-color: rebeccapurple;
}

.aside {
    background-color: forestgreen;
}

.main {

}

.footer {
    height: 100px;
    background-color: midnightblue;
}
