body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

.bar {
    box-sizing: border-box;
    height: 50px;
    background-color: #3a3633;
    color: #fff;
    padding-top: 12px;
}

.center-content {
    text-align: center;
}

.main {
    min-height: calc(100vh - 100px);
    position: relative;
}

h1 {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - (153px / 2));
}
