.header {

}

.facts {

}

tr {

}

th {

}

td,
th {

}

h3 {
  margin-bottom: 0;
}

/* Using CSS grid */
.links {
}

.links > li {
}

/* 
    Using Flexbox
    You can comment / uncomment this code using cmd+/
*/

/* 
.links {

}

.links > li {

}
*/

.links a {

}
